overlay/boot/Image
overlay/boot/vmlinuz-5.10.113+
overlay/boot/config-5.10.113+
overlay/boot/System.map-5.10.113+
overlay/boot/dtbs/*
overlay/usr/lib/modules/*
overlay/opt/u-boot-with-spl*.bin
overlay/opt/vmlinux
build/*
